#profile_icon {
	width: 50%;
	height: auto;

	border-radius: 100%;
}

.game_icon {
	width: 5%;
	height: auto;
}

.match_game_icons {
	width: 50%;
	height: auto;
	border-radius: 100%;
}

.match_users_icons {
	width: 25%;
	height: auto;
	border-radius: 100%;
}